# Requirements for dev/test environment.

beautifulsoup4
bump2version
django
django-debug-toolbar
django-sortedm2m>=1.4
django-extensions
# django-fortunecookie
django-polymorphic
django-storages
djangorestframework
flake8
ipython
Pillow
pycodestyle
pytest
pytest-cov
pytest-django
pytest-flake8
pytest-runner
setuptools-twine
sphinx
tox
tox-travis
twine
