# PIP Requirements (for automated testing with tox)
argparse
django-debug-toolbar
django-devserver
django-extensions
django-fortunecookie
django-hotrunner>=0.2.1
django-setuptest>=0.1.2
django-sortedm2m
South
